		body {
			background: #fff;
			color: #666;
		}
		.header {
			background: #003;
			color: #fff;
		}
		.nav {
			background: #90C7E3;
			font-weight: bold;
			display: flex;
		}
		.nav p{
			margin: 5px 10px 5px 10px;
		}
		h1 {
			margin-bottom: 0px;
		}
		h2 {
			color: #3399CC;
		}
		dt {
			color: #003;
		}
		.resort {
			color: #5c7fa3;
		}